.calculator {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 400px;
  border: solid black 15px;
}

.calculator__output {
  flex-basis: calc(100% / 4 * 3);
  background-color: black;
  color: whitesmoke;
  text-align: end;
  padding: 2px 20px 2px 2px;
  font-size: 25px;
  outline: black;
}

.calculator__clear {
  flex-basis: calc(100% / 4 * 1);
  background-color: rgb(39, 39, 39);
  color: whitesmoke;
  font-size: 25px;
  outline: black;
}

.calculator__input {
  flex-basis: calc(100% / 4);
  background-color: darkgray;
  color: whitesmoke;
  font-size: 25px;
  outline: black;
}

.calculator__input:active {
  flex-basis: calc(100% / 4);
  background-color: rgb(128, 127, 127);
  color: whitesmoke;
  font-size: 25px;
  outline: black;
}

.calculator__result {
  flex-basis: calc(100% / 4);
  background-color: rgb(88, 88, 88);
  color: whitesmoke;
  font-size: 25px;
  outline: black;
}

.calculator__operator {
  flex-basis: calc(100% / 4);
  background-color: rgb(88, 88, 88);
  color: whitesmoke;
  font-size: 25px;
  outline: black;
}
